@page
@model Proiect.Pages.Appointments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.DateTimeOfAppointment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.DateTimeOfAppointment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Patient.ID)
        </dd>
    </dl>
</div>
<div class="btn-group" role="group">
    <a asp-page="./Edit" asp-route-id="@Model.Appointment.ID" class="btn btn-outline-danger">Edit</a> |
    <a asp-page="./Index" class="btn btn-outline-dark">Back to List</a>
</div>
